/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
@font-face {
  font-family: 'FontinRegular';
  src: url('font/Fontin-Regular.ttf') format('truetype');
}

html {
  background-color: rgb(0, 0, 0);
  color: rgb(163, 141, 109);
  margin: 0px;
  font-family: Verdana,Arial,Helvetica,sans-serif;
}

h1, h2 {
  text-align: center;
  margin: 0;
  font-family: 'FontinRegular',Verdana,Arial,Helvetica,sans-serif;
  color: rgb(223, 207, 153);
  text-shadow: 0px 0px 1px rgb(223, 207, 153);
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 16.9px;
  text-decoration: underline;
}

a {
  color: rgb(163, 141, 109);
  /* Hover effect */
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

a:hover {
  color: white;
}

p {
  text-align: center;
  font-size: 13px;
}

#content {
  background-color: rgb(12, 11, 11);
  padding: 6px;
  border: 1px solid rgb(20, 20, 20);
}